<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Monitor Glue</string>
	<key>CFBundleExecutable</key>
	<string>MonitorGlue</string>
	<key>CFBundleIdentifier</key>
	<string>com.erango.monitorglue</string>
	<key>CFBundleName</key>
	<string>MonitorGlue</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Monitor Glue</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://github.com/erango/monitor-glue/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MjSRvIhZ4BFdlZNW3OnMCgZQ2BIc7Z0Vd4eyz+sKN78=</string>
</dict>
</plist>
